.MuiTab-root.Mui-selected{
  color: inherit !important;
}

.MuiTabs-indicator.css-1aquho2-MuiTabs-indicator{
  background-color: transparent !important;
  display: none !important;
}

.cart__icon{
  position: relative;
  cursor: pointer;
  .cart__count{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.MuiTabs-flexContainer{
  justify-content: flex-end;
}