.flex{
    display: flex;
    &.align-items-center{
      align-items: center;
    } 
  
    &.justify-content-between{
      justify-content: space-between;
    }
} 
.MuiTab-root.Mui-selected{
    color: inherit !important;
}

.MuiTabs-indicator.css-1aquho2-MuiTabs-indicator{
    background-color: transparent !important;
    display: none !important;
}