body, *{
  font-family: 'Open Sans', sans-serif !important;
}
.cart{
  position: absolute;
  top: 110%;
  height: calc(100vh - 175px);
  right: 0;
  background-color: #FFF;
  border: 1px solid #000;
  width: 20rem;
  z-index: 1200;
}

.MuiPaper-root{
  box-shadow: none !important;
}

.MuiTableCell-head{
  font-weight: 700 !important;
}